.App {
    min-width: 100vw;
    min-height: 100vh;
    & svg {
        overflow: visible;
    //     position: fixed;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    }
}
.Contour {
    pointer-events: none;
}

.Grid {
}
